<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Team 1</title>
    </head>
    <body>
        <header>Members:</header>
        <ul>
            <li>Daniel Lee</li>
            <li>Matthew Kusnierz</li>
            <li>Gabriel Ikezaki</li>
            <li>Antuan Gonzalez</li>
        </ul>

        <header>Our Product: Self-Organizing Bookshelf</header>
        <p>
            The Self-Organizing Bookshelf works in tandem with an app to sort its books 
            to the user's preferences. From the app, the user can create and specify 
            sorting methods such as title, genre, author, publication date, etc. Through 
            a system of rails, arms, and cameras, the bookshelf will automatically scan the 
            title of an inserted book, crosscheck it with a database, and determine how to 
            sort it without any thought from the user.
        </p>

        <header>Customer Interview Validation Results</header>
        <p>
            We found that customers who worked in institutions like libraries or bookstores 
            were the most enthusiastic about the idea. There were also curiosities raised 
            by its potential at managing paper files and materials. Most customers did not 
            consider the product necessary for home use.
        </p>
    </body>
</html>